body {
  font-family: sans-serif;
}

h1 {
  padding: 10px;
  font-size: 20pt;
  font-weight: bold;
}

h2 {
  padding-left: 10px;
  font-size: 9pt;
}

.controls {
  background-color: #aaa;
  padding: 10px;
}

.controls .sep {
  margin-left: 10px;
  margin-right: 10px;
}

.main {
  margin: 20px;
}

.servers {
  font-size: 9pt;
}

.servers ul {
  margin: 5px 0 0 20px;
}

.graph {
  position: relative;
  overflow: hidden;
}

.graph label {
  position: absolute;
  top: 10px;
  left: 10px;
  font-size: 9pt;
  z-index: 1;
}

.graphControls {
  position: absolute;
  top: 10px;
  right: 10px;
  text-align: right;
}

.graphControls a {
  color: #333;
  font-size: 9pt;
  text-decoration: none;
}

.graphControls a:hover {
  text-decoration: underline;
}

ul.barGraph {
  margin: 0;
  border: 1px solid #333;
  padding: 0;
  position: relative;
  height: 100px;
}

ul.barGraph li {
  list-style: none;
  position: absolute;
  margin: 0;
  border: 1px solid #555;
  border-bottom: 0px;
  padding: 0;
  bottom: 0;
  text-align: center;
  width: 3px;
  background-color: #aaeecc;
}

.vBucketPanel {
  margin: 10px 0 40px 0;
}

.vBuckets {
  padding-left: 10px;
  font-size: 9pt;
  color: #999;
}

.vBucketServer {
  clear: both;
}

.vBucketServer label {
  float: left;
  margin: 0;
  padding: 0 5px 0 0;
  width: 100px;
  font-size: 8px;
  text-align: right;
}

.vBucketList {
  float: left;
  position: relative;
  height: 10px;
}

.vBucketList .vbucket {
  position: absolute;
  height: 10px;
  top: 0px;
  border: 1px solid #999;
}

.vBucketPanel .active {
  background-color: #6f6;
}

.vBucketPanel .dead {
  background-color: #fff;
}

.vBucketPanel .pending {
  background-color: #beb;
}

.vBucketPanel .replica {
  background-color: #ff6;
}

.dbg {
  margin-top: 20px;
  font-size: 6pt;
}

.footer {
  padding-left: 20px;
  font-size: 6pt;
}
